html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  position: relative;
   margin: 0;
   padding-bottom: 6rem;
   min-height: 100%;
}

header {
  color: #888;
}

header h1 {
  border: 2px dotted #df0451;
  background-color: #df0451;
  color: white;
  border-radius: 18px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 2em;
}

.container {
  margin: 0 auto;
}

#content {
  border: 1px ridge darkgrey;
  padding: 18px;
  margin-left: 240px;
  color: #444;
  font-weight: normal;
  font-size: 1.5rem;
}

#content h1,
h2,
h3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #dadada;
  font-weight: normal;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}
a {
  text-decoration: none;
  color:  #df0451;
}

#sidebar {
  float: left;
  width: 227px;
  color: #ffbdbd;
  will-change: min-height;
  overflow-x: hidden;
  z-index: 1;
  position: fixed;
}

#sidebar .sidebar__inner {
  border: 1px ridge darkgrey;
  padding: 10px;
  position: relative;
  will-change: position, transform;
}

footer {
  border: 2px dashed black;
  margin-top: 171px;
  text-align: center;
  color: #8e8d8d;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.02);
  line-height: 2rem;
  position: absolute;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;

}

footer img{
  height: 25px;
  width: 25px;
}
footer p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  font-size: 18px;
  line-height: 1.8rem;
  word-wrap: break-word;
}

li:last-child {
  border-right: none;
}

li a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease;
}

li a:hover {
  color: #666;
}

li.active a {
  font-weight: bold;
  color: #333;
}

#h1 {
  border: 2px dotted #df0451;
  border-radius: 26px;
  text-align: center;
  color: #585555;
  word-wrap: break-word;
}
button {
    font-size: 17px;
    line-height: 2rem;
}

button {
    border: 2px dotted #df0451;
    border-radius: 26px;
    text-align: center;
    color: #585555;
    word-wrap: break-word;
}
button a{
  text-decoration: none;
}
button a.active{
  font-weight: bold;
  color: #333;
}
button:hover {
  background-color: white;
}
@media screen and (max-device-width: 614px) {
  #sidebar {
    font-size: 2rem;
  }

  li {
    font-size: 1.5rem;
    line-height: 3rem;
  }

  #h1 {
    font-size: 28px;
    line-height: 3rem;
  }
  button {
      font-size: 28px;
      line-height: 3rem;
  }
}
